{{> head }}

    {{> navbar }}
        
    <div class="row">
        <div class="col-8">
            <h1>Acerca de Cat</h1>
            <p>Es un lindo gatin!!</p>
        </div>
        <div class="col-4">
            <img src="/assets/images/cat.png" class="img-thumbnail">    
        </div>
    </div>

{{> footer }}